@{
    ViewBag.Title = "部门组织架构视图";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>组织架构</li>
    <li>
        <strong>部门组织架构视图</strong>
    </li>
</ol>

<hr class="hr-grey" />

<div class="row" style="margin: 0 10px; 0 10px">
    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
        <button id="zoomToFit" class="marco-btn-primary">显示全部</button>
        <button id="centerRoot" class="marco-btn-primary">根节点</button>
    </div>
    <!--<div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
        <div class="marco-igroup-primary" style="width: 200px;">
            <span>部门</span>
            @Html.DropDownList("companyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
        </div>
    </div>-->
</div>

<div class="OrganizationShow" style="margin: 0 10px 0 10px;"></div>

@Html.Partial("_HandlingMsgDialog")
                      
@Scripts.Render("~/bundles/go")

<script type="text/javascript">
    Layout.init();

    LoadOrganization();
    
    Layout.popMsg("popMsg-success", "双击可以跳转到员工详情界面");

    $("#companyId").change(function(){
        LoadOrganization();
    })

    function LoadOrganization() {
        show_handle_dialog();
        $.ajax({
                url: '/Company/CompanyOrganization',
                type: 'get',
                data: {
                    companyId: $("#companyId").val()
                },
                success: function (data) {
                    init(data);
                    hide_handle_dialog();
                },
                error: function () {
                    console.log("NNMVNMNDMNDM");
                }
            }
        )
    }

    function init(data) {
        $("#myOverviewDiv").remove();
        $("#myDiagramDiv").remove();

        var Html = "<span style='font-size: 14px; font-family: 黑体; position:absolute; top: 120px; right: 40px; color: #3498db;'>Tips: 双击部门， 可以跳转到对应的员工界面</span>" +
        "<div id='myOverviewDiv' style='font-size: 20px; height: 100px;'></div>"+
        "<div id='myDiagramDiv' style='background-color: white; border-radius: 10px; width: 100%;'></div>"; 
        $(Html).appendTo($(".OrganizationShow"));
        
        $("#myDiagramDiv").css("height", $(window).height()-300+'px');
        
        var Go_Comany = go.GraphObject.make;  // for conciseness in defining templates

        myDiagram =
          Go_Comany(go.Diagram, "myDiagramDiv",  // must be the ID or reference to div
            {
                initialDocumentSpot: go.Spot.TopCenter,
                initialViewportSpot: go.Spot.TopCenter,
                "toolManager.hoverDelay": 100,  // 100 milliseconds instead of the default 850
                allowCopy: false,
                allowMove:false,
                nodeSelectionAdornmentTemplate:
                 Go_Comany(go.Adornment, "Auto",
                     { layerName: "Grid" },
                     Go_Comany(go.Shape, "RoundedRectangle", { fill: "yellow", stroke: null }),
                     Go_Comany(go.Placeholder)
                 ),
                layout:
                  Go_Comany(go.TreeLayout,
                    {
                        angle: 90, nodeSpacing: 10, layerSpacing: 40
                        //layerStyle: go.TreeLayout.LayerUniform
                    })
            });

        var bluegrad = '#90CAF9';
        var pinkgrad = '#F48FB1';

        function tooltipTextConverter(department) {
            var str = "";
            str += "名称: " + department.name;
            if (department.peopleCount !== undefined) str += "\n 人数: " + department.peopleCount;
            if (department.remark !== undefined) str += "\n 备注: " + department.remark;
            return str;
        }

        var tooltiptemplate =
          Go_Comany(go.Adornment, "Auto",
            Go_Comany(go.Shape, "RoundedRectangle",
              { fill: "whitesmoke", stroke: "black" }),
            Go_Comany(go.TextBlock,
              {
                  font: "bold 12px Helvetica, bold Arial, sans-serif",
                  wrap: go.TextBlock.WrapFit,
                  margin: 5
              },
              new go.Binding("text", "", tooltipTextConverter))
          );

        myDiagram.nodeTemplate =
          Go_Comany(go.Node, "Auto",
            {
                deletable: false,
                toolTip: tooltiptemplate,
                click: function (e, obj) {
                    //console.log(obj.data);
                },
                doubleClick: function (e, obj) {
                    var CompanyId = $("#companyId").val();
                    var DepartmentId = obj.data.key;
                    window.location.href = "/Staff/Search?DepartmentID=" + DepartmentId + "&CompanyID=" + CompanyId;
                }
            },
            new go.Binding("text", "name"),
            Go_Comany(go.Shape, "RoundedRectangle",
              {
                //   fill: "#3498db",
                //   stroke: null, strokeWidth: 0,
                  fill: null, stroke: "#3498db", strokeWidth: 2,
                  stretch: go.GraphObject.Fill,
                  alignment: go.Spot.Center
              }
            ),
            Go_Comany(go.Panel, "Horizontal",
                Go_Comany("TreeExpanderButton"),
                Go_Comany(go.Picture,
                  {
                      name: 'Picture',
                      desiredSize: new go.Size(24, 24),
                      margin: new go.Margin(5, 10, 5, 4)
                  },
                  new go.Binding("source", "Source")),
                Go_Comany(go.TextBlock,
                  {
                      font: "14px 黑体, Droid Serif, sans-serif",
                      textAlign: "center",
                      margin: new go.Margin(-10, 8, 2, 0), maxSize: new go.Size(120, NaN)
                  },
                  new go.Binding("text", "name"))
            ),
            Go_Comany(go.TextBlock,
                {
                    font: "14px 黑体, Droid Serif, sans-serif",
                    textAlign: "center",
                    margin: new go.Margin(35, 8, 2, 35), maxSize: new go.Size(120, NaN)
                },
                new go.Binding("text", "peopleCount"))
        );

        myDiagram.linkTemplate =
          Go_Comany(go.Link,
            { routing: go.Link.Orthogonal, corner: 5, selectable: false },
            Go_Comany(go.Shape, { strokeWidth: 3, stroke: '#424242' }));

        var nodeDataArray = data;

        myDiagram.model = new go.TreeModel(nodeDataArray);
        myOverview =
        Go_Comany(go.Overview, "myOverviewDiv",
            { observed: myDiagram, contentAlignment: go.Spot.Center });

        document.getElementById('zoomToFit').addEventListener('click', function () {
            myDiagram.zoomToFit();
        });

        document.getElementById('centerRoot').addEventListener('click', function () {
            myDiagram.scale = 1;
            myDiagram.scrollToRect(myDiagram.findNodeForKey(0).actualBounds);
        });
    }
</script>