
@{
    ViewBag.Title = "修改密码";
}
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>
        <strong>修改密码</strong>
    </li>
</ol>
<hr class="hr-grey" />
<style>
    .container span{
        width:90px;
        text-align:right;
        font-size:16px; 
    }
     .marco-igroup-primary  {      
        margin-left:200px;
    }
    .marco-igroup-primary1 {
         margin-top:100px;
    }
     .marco-igroup-primary2 {
         margin-top:40px;
    }
     .marco-igroup-primary span{
         text-align:center;
     }
     .marco-btn-primary{
         margin-top:40px;
     }
    .marco-igroup-primary input {
        width:300px;     
    }     
    .wrap {
        margin:100px auto;
    }
</style>

@*修改密码界面*@
<div class="container">
    <div style="width:800px;height:400px;border:1px solid #808080; border-radius:2px 80px 2px 80px; box-shadow: 0px 0px 24px #000;" class="wrap">
        <h4 style="color:red">@ViewBag.error</h4>
        <form action="/user/changepwd/" method="post">
            <div class="marco-igroup-primary1 marco-igroup-primary">
                <span>密码</span>
                <input type="password" value="" name="pwd" id="pwd" placeholder="请输入新密码"/>
            </div>
            <div class="marco-igroup-primary2 marco-igroup-primary">
                <span>密码确认</span>
                <input type="password" value="" name="pwdcompare" id="pwdcompare" placeholder="请再次输入新密码"/>
            </div>
            <input type="hidden" value="@ViewBag.id" name="id" id="id" />     
            <div style="text-align:center;">
                <input type="submit" class="marco-btn-primary" value="确 认" style="width:60px;border-radius:4px;"/>
                <a href="/User/Index/">
                    <input type="button" class="marco-btn-primary" value="返 回" style="width:60px;border-radius:4px;margin-left:10px;"/>
                </a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

    $("#approval-prp").remove();
    
</script>