
@{
    ViewBag.Title = "ChangePwd";
}
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>权限管理</li>
    <li>用户管理</li>
    <li>修改密码</li>
</ol>
<hr class="hr-grey" />
<style>
    .container span{
        width:90px;
        text-align:right;
        font-size:16px;
    }
     .marco-igroup-primary  {
        margin-top:20px;
     
    }
     .marco-btn-primary{
         margin-top:20px;
     }
    .marco-igroup-primary input {
        width:300px;
     
    }
    
    
    .wrap {
        margin:150px auto;
    }
</style>


<div class="container">

        <div style="width:400px" class="wrap">
            <h4 style="color:red">@ViewBag.error</h4>
            <form action="/user/changepwd/" method="post">

                <div class="marco-igroup-primary">
                    <span>密码</span>
                    <input type="text" value="" name="pwd" id="pwd" placeholder="请输入新密码"/>
                </div>
                <div class="marco-igroup-primary">
                    <span>密码确认</span>
                    <input type="text" value="" name="pwdcompare" id="pwdcompare" placeholder="请再次输入新密码"/>
                </div>
                <input type="hidden" value="@ViewBag.id" name="id" id="id" />

                @*<span>密&nbsp;&nbsp;&nbsp;码：  <input type="text" value="" name="pwd" id="pwd" /></span>
                <span>密码确认： <input type="text" value="" name="pwdcompare" id="pwdcompare" /></span>
                <input type="hidden" value="@ViewBag.id" name="id" id="id" />*@
                <div style="text-align:center;">
                    
                    <input type="submit" class="marco-btn-primary" value="确 认" />
                </div>
            </form>
        </div>
    
</div>