@using MvcPaging
@model IPagedList<BlueHrLib.Data.User>
@{
    ViewBag.Title = "登陆日志";
}
@*@Styles.Render("~/Content/degreetype")*@
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>登陆日志</li>
</ol>


<hr class="hr-grey" />

<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            
            <li role="presentation" class="active"><a href="#all_log" role="tab" data-toggle="tab">登陆日志</a></li>
            
        </ul>
        <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="all_log">
                <div id="all_log_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>登陆时间</th>                           
                        </tr>
                    </thead>
                    <tbody id="LogMessages">
                        
                    </tbody>
                </table>
            </div>
           
        </div>
        

    </div>
</div> 


@*@Scripts.Render("~/bundles/degreetype")*@
<script type="text/javascript">
    Layout.init();
    


    Layout.advancedfilter();

    $.ajax({
        url: '/MessageRecord/LoginDetail',
        type: 'get',
        success: function (data) {
            $("#LogMessages").empty();
            if(data.length>0){
                for (var i = 0; i < data.length; i++) {
                    console.log(data);
                    console.log(data[i]);
                    var Html = "<tr><td > " + data[i].用户名 + " </td><td > " + data[i].登录时间 + " </td><td > ";
                    $(Html).appendTo($("#LogMessages"));
                }
            }
            
            $(window).resize(function () {
                Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 200, false, "all_log", "登陆日志列表", "20", "all_log_grid_table");
            })

            Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 200, false, "all_log", "登陆日志列表", "20", "all_log_grid_table");
        },
        error: function () {
            console.log("CCCCCCCC");
        }
    });


    function lock(id){
        if(confirm('确定操作？')){
            $.post('/User/LockUnLock',{id: id},function(data){
                if(data.Success){
                    alert('操作成功！');
                    window.location.reload();
                } else {
                    alert('操作失败：'+data.Content);
                }
            },'json');
        }
    }
</script>