@{
    ViewBag.Title = "个人信息";
}

<style>
    .out_box {
        font-weight: bolder;
        background:#6f6353;
        width:100%;
        height:800px;
    }
    .content_box {
        width:1260px; 
        height:600px;
        background:#ececec;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-525px;
        margin-top:-300px;
        border-radius:5em;
    }
     .content_box1 {
        width:96%; 
        height:570px;
        background:#fff;
        position:absolute;
        left:2%;
        top:3%;
        box-shadow:2px 2px 30px #6f6353;
        border-radius:8em;
    }
    .user_msg span{
        position:absolute;
        left:42%;
        top:5%;
        color:#4a9195;
        font-size:2em;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding:0 50px 10px 50px;
        border-bottom:5px solid #4a9195;
        box-shadow:2px 2px 20px #808080;
    }
</style>

<div class="out_box">
    <div class="content_box">
        <div class="content_box1">
            <div class="user_msg container">
                <span>个人信息</span>
            </div>
            <div style="width:30%; margin-left:1%;margin-top:5%;">
                <img src="~/Images/user.jpg" alt="图片" />
            </div>
            <div style="width:60%;margin-left:20%;margin-top:-20%;margin-bottom:7%;">
                <table width=20% class="table" style="color:#4a9195;font-size:1.2em;">
                    <tbody id="UserMessages" style="background:none;"></tbody>
                </table>
            </div>

            <hr class="hr-grey" style="color:#4a9195;"/>
            <div style="margin-left:5%; float:left; width:30%;">
                <img src="~/Images/alarm_clock.png"/>
            </div>
            <div style="width:100%;font-size:1.5em; position:relative;top:2%;color:#ff0000;left:-6%;">
                <div class="row">
                   
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                        <span>登录时间: </span> <span id="loginTime">00:00</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                        <span>登录时长: </span> <span id="OnlineTime">00</span> 
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                        <span>登录次数: </span><span id="loginCount">0</span> <span>次</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@Scripts.Render("~/bundles/degreetype")*@
<script type="text/javascript">
    Layout.init();
    $.ajax({
        url: '/User/UserDetail',
        type: 'get',
        success: function (data) {
            console.log(data);
            $("#UserMessages").empty();
            var Html = "<tr><td> 用户名：</td><td> " + data.用户名 + " </td></tr><tr><td > 电子邮箱：</td><td>" + data.邮箱 + " </td></tr><tr><td > 是否锁定：</td><td>" + data.是否锁定 + " </td></tr><tr><td > 角色类型 ： </td><td>" + data.角色类型 + " </td></tr> ";
            $(Html).appendTo($("#UserMessages"));
        },
        error: function () {
            console.log("CCCCCCCC");
        }
    });

    $.ajax({
        url: '/MessageRecord/LastLoginTime',
        type: 'get',
        success: function (data) {
            var thisTime = new Date().Format("yyyy/MM/dd hh:mm");
            $("#loginTime").empty();
            $("#loginTime").html(data);  //请求登录时间
            $("#OnlineTime").html(DiffLong(thisTime, data));  //利用函数计算出登录时长

            // setInterval(function(data){
            //     var thisTime = new Date().Format("yyyy/MM/dd hh:mm");
            //     $("#loginTime").empty();
            //     $("#loginTime").html(data);
            //     $("#OnlineTime").html( DiffLong(thisTime, data));
            // },60000);
        },
        error: function () {
            console.log("CCCCCCCC");
        }
    });

    //请求登录的次数
    $.ajax({
        url: '/MessageRecord/LoginInCount',
        type: 'get',
        success: function (data) {
            $("#loginCount").html(data);
        },
        error: function () {
            console.log("CCCCCCCC");
        }
    });

function DiffLong(datestr1, datestr2) {
    var date1 = new Date(Date.parse(datestr1.replace(/-/g, "/")));//现在时间
    var date2 = new Date(Date.parse(datestr2.replace(/-/g, "/")));//登录时间
    var datetimeTemp;
    var isLater = true;

    if (date1.getTime() > date2.getTime()) {
        isLater = false;
        datetimeTemp = date1;
        date1 = date2;
        date2 = datetimeTemp;
    }
    difference = date2.getTime() - date1.getTime();
    thishours = Math.floor(difference / (1000 * 60 * 60));

    difference = difference - thishours * (1000 * 60 * 60);
    thisminutes = Math.floor(difference / (1000 * 60));

    var strRet = thishours + '时' + thisminutes + '分';//在线时长
    return strRet;
}

// function SetTime(time){
//     if(time<10){
//         return "0"+time;
//     }else{
//         return time;
//     }
// }
</script>