@using MvcPaging
@model IPagedList<BlueHrLib.Data.User>
@{
    ViewBag.Title = "个人信息";
}
@*@Styles.Render("~/Content/degreetype")*@
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>个人信息</li>
</ol>


<hr class="hr-grey" />

<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            
            <li role="presentation" class="active"><a href="#all_usermsg" role="tab" data-toggle="tab">个人信息</a></li>
            
        </ul>
        <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="all_usermsg">
                <div id="all_usermsg_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>电子邮箱</th>
                            <th>是否锁定</th>
                            <th>角色类型</th>
                        </tr>
                    </thead>
                    <tbody id="UserMessages">
                        
                    </tbody>
                </table>
            </div>
           
        </div>
        

    </div>
</div> 


@*@Scripts.Render("~/bundles/degreetype")*@
<script type="text/javascript">
    Layout.init();
    
    Layout.advancedfilter();

    $.ajax({
        url: '/User/UserDetail',
        type: 'get',
        success: function (data) {
            console.log(data);
            $("#UserMessages").empty();
            if(data.length>0){
                for (var i = 0; i < data.length; i++) {
                    var Html = "<tr><td > " + data[i].用户名 + " </td><td > " + data[i].电子邮箱 + " </td><td > ";
                    $(Html).appendTo($("#UserMessages"));
                }
            }
            
        },
        error: function () {
            console.log("CCCCCCCC");
        }
    });


    
</script>