 
@model IEnumerable<BlueHrLib.Data.QuartzJob>

@{
    ViewBag.Title = "考勤计算任务设置";
}
@*@Styles.Render("~/Content/degreetype")*@
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤计算任务设置</li>
</ol>
<hr class="hr-grey" />


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            任务列表
            <div class="pull-right" style="margin-top:-12px;">
                <a href="/QuartzJob/Create">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="table-body content_3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>执行时间</th>
                        <th>班次代码</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(i += 1)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cronSchedule)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.paramsStr)
                                </td>
                                 
                                <td> 
                                        <a href="#" id="msg-@item.id" class="option-icon-warning" onclick="deletejob(@item.id)" title="删除">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
      
</div>

<script type="text/javascript">
    Layout.init();

    function deletejob(id){
        if(confirm("确认删除？")){
            $.post("/QuartzJob/Delete?id="+id,{id:id},function(data){
                if(data.Success){
                    window.location.reload();
                }else{
                    alert(data.Content);
                }
            },'json');
        }
    }
</script>
