
@{
    ViewBag.Title = "NoAuthPage";
}

<div class="container" style="text-align:center;">
    <img src="~/Images/NoAuth.png" alt="No" />
    @*<span style="font-size:2em;">@ViewBag.Msg</span>*@
</div>

