@using MvcPaging
@model IPagedList<BlueHrLib.Data.JobTitle>
@using BlueHrWeb.Helpers.View
@{
    ViewBag.Title = "职位管理";
}

@{
    bool canCreate = MenuAuthHelper.CanShow("JobTitle", "Create");
    bool canEdit = MenuAuthHelper.CanShow("JobTitle", "Edit");
    bool canDelete = MenuAuthHelper.CanShow("JobTitle", "Delete");
    bool canSet = MenuAuthHelper.CanShow("JobTitle", "Set");
    bool canTableShow = MenuAuthHelper.CanShow("JobTitle", "TableShow");
}
<style type="text/css">
    #current_jobTitleContent > ul , #history_jobTitleContent > ul, #all_jobTitleContent > ul{
        list-style: none;
    }

    #current_jobTitleContent > ul li , #history_jobTitleContent > ul li, #all_jobTitleContent > ul li {
        float: left;
        width: 90px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 25px;
    }

    #current_jobTitleContent > ul li > div,  #history_jobTitleContent > ul li > div, #all_jobTitleContent > ul li > div {
        /*width: 96px;*/
        height: 72px;
        background-image: url('/Images/person1.png');
        background-repeat: no-repeat;
        margin-left: 12px;
    }

    #current_jobTitleContent > ul li i, #history_jobTitleContent > ul li i, #all_jobTitleContent > ul li i {
        display: none;
        color: #3498db;
        width: 24px;
        height: 24px;
        font-size: 14px;
        border: 1px solid #3498db;
        padding: 4px 5px;
        border-radius: 4px;
        margin: -5px 3px;
        position: absolute;
    }

    #current_jobTitleContent > ul li i:hover, #history_jobTitleContent > ul li i:hover, #all_jobTitleContent > ul li i:hover {
        background: #3498db !important;
        color: white !important;
    }

    .marco-tabs-default .tab-content ul li{
        border: none;
        height: auto !important;
    }
</style>

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>基础数据管理</li>
    <li>
        <strong>职位管理</strong>
    </li>
</ol>

<hr class="hr-grey" />

<div class="row" style="margin:0 10px 0 0;">
    <div class="pull-right">
        @if(canCreate)
        {    
            <button class="marco-btn-success create-jobTitle">新建职位</button>
        }
        @if(canTableShow)
        {
            <a href="/JobTitle/TableShow">
                <button class="marco-btn-primary">职位列表展示</button>
            </a>
        }
    </div>
</div>

<div class="row" style="margin: -30px 10px;">
    <div class="marco-tabs-default">
        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#current_jobTitle" role="tab" data-toggle="tab">当前职位</a></li>
            <li role="presentation"><a href="#history_jobTitle" role="tab" data-toggle="tab">历史职位</a></li>
            <li role="presentation"><a href="#all_jobTitle" role="tab" data-toggle="tab">全部职位</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="current_jobTitle">
                <div id="current_jobTitleContent">
                    <ul></ul>
                </div>
            </div>

             <div role="tabpanel" class="tab-pane" id="history_jobTitle">
                <div id="history_jobTitleContent">
                    <ul></ul>
                </div>
            </div>

             <div role="tabpanel" class="tab-pane" id="all_jobTitle">
                <div id="all_jobTitleContent">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*弹出框*@
<div id="JobTitlePopModal" class="approval_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        <span>职位管理</span>
    </div>

    <div class="dialogModal_content">
        <div class="marco-nbody row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>名称</span>
                    <input type="text" class="jobTitleName" name="jobTitleName" autofocus />
                </div>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="marco-textarea">
                    <span>备注</span>
                    <textarea name="remark" class="remark"></textarea>
                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="dialogModal_footer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <button type="button" class="marco-btn-primary pull-right" data-dialogmodalbut="ok" />
                    确认
                </button>
            </div>
    </div>
</div>
<div class=""></div>

<script type="text/javascript">
    Layout.init();

    // 请求职位API
    $.ajax({
        url: '/JobTitle/GetAll',
        type: 'get',
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                if(data[i].IsRevoked == "False"){
                    var Html = "<li id=" + data[i].id + " title=" + data[i].remark + "> <div></div><p>" + data[i].name + "</p>" +
                    "@if(canEdit){<i class='fa fa-pencil editJobTitle' title='编辑职位' style='margin-left: -45px;'></i>}" +
                    "@if(canDelete){<i class='fa fa-trash removeJobTitle' title='删除职位' style='color: darkred; margin-left: -15px;'></i>}" +
                    "@if(canSet){<i class='fa fa-share-square-o setHistoryJobTitle' title='设置为历史职位' style='color: lightseagreen; margin-left: 15px; padding-top:5px;'></i>}" +
                    "</li>";

                    $(Html).appendTo($("#current_jobTitleContent>ul"));
                    $(Html).appendTo($("#all_jobTitleContent>ul"));
                }else{
                    var Html = "<li id=" + data[i].id + " title=" + data[i].remark + "> <div></div><p>" + data[i].name + "</p>" +
                    "@if(canEdit){<i class='fa fa-pencil editJobTitle' title='编辑职位' style='margin-left: -45px;'></i>}" +
                    "@if(canDelete){<i class='fa fa-trash removeJobTitle' title='删除职位' style='color: darkred; margin-left: -15px;'></i>}" +
                    "@if(canSet){<i class='fa fa-share-square-o reSetHistoryJobTitle' title='重新启用' style='color: lightseagreen; margin-left: 15px; padding-top:5px;'></i>}" +
                    "</li>";

                    $(Html).appendTo($("#history_jobTitleContent>ul"));
                    $(Html).appendTo($("#all_jobTitleContent>ul"));
                }
            }

            $('.option-icon-primary').click(function(){
                //1920* 1200  1068 * 677 刚刚好
                //pageURL, height, width, top, left, toolbar, menubar, scrollbars, resizable, location, status, alwaysRaised, zLook
                Layout.openNewWindow($(this).attr("href"), $(window).height()-100,$(window).width()-200, 50, 100, 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes');
                return false;
            });


            $("#current_jobTitleContent ul").unbind('mouseover').on('mouseover', 'li', function () {
                $("#current_jobTitleContent>ul li").not($(this)).find('i').css("display", "none");
                $(this).find('i').fadeIn(0);
            })

            $("#history_jobTitleContent ul").unbind('mouseover').on('mouseover', 'li', function () {
                $("#history_jobTitleContent>ul li").not($(this)).find('i').css("display", "none");
                $(this).find('i').fadeIn(0);
            })

            $("#all_jobTitleContent ul").unbind('mouseover').on('mouseover', 'li', function () {
                $("#all_jobTitleContent>ul li").not($(this)).find('i').css("display", "none");
                $(this).find('i').fadeIn(0);
            })

            $("body").bind("click", function (evt) {
                if ($(evt.target).parents(".tab-pane li").length == 0) {
                    $(".tab-pane li").find('i').css("display", "none");
                }
            });

            //编辑角色
            $('.editJobTitle').click(function () {
                var ID = $(this).parent().attr("id");
                var Name = $(this).parent().find("p").html();
                var Remarks = $(this).parent().attr("title");

                $('#JobTitlePopModal').dialogModal({
                    onOkBut: function () {
                        //进行处理
                        var NewName = $(".dialogModal").find(".jobTitleName").val();
                        var NewRemarks = $(".dialogModal").find(".remark").val();

                        // 判断是否是相等， 如果是相等，不需要进行请求API进行修改

                        if (Name == NewName && Remarks == NewRemarks) {

                        } else {
                            // 请求API 进行 编辑角色名称和备注
                            $.ajax({
                                url: '/JobTitle/Edit',
                                type: 'post',
                                data: {
                                    id: ID,
                                    name: NewName,
                                    remark: NewRemarks
                                },
                                success: function (data) {
                                    if (data) {
                                        window.location.reload();
                                    } else {
                                        return false;
                                    }
                                },
                                error: function () {
                                    return false;
                                }
                            })
                        }
                    },
                    onCancelBut: function () {
                    },
                    onLoad: function () {
                        // 填充数据
                        $(".jobTitleName").val(Name);
                        $(".remark").val(Remarks == "null" ? "" : Remarks);
                    },
                    onClose: function () {
                    }
                });

            })

            //删除角色
            $('.removeJobTitle').click(function () {
                var ID = $(this).parent().attr("id");

                if (confirm("确认删除该角色?")) {
                    $.ajax({
                        url: '/JobTitle/Delete',
                        type: 'post',
                        data: {
                            id: ID
                        },
                        success: function (data) {
                            if (data) {
                                window.location.reload();
                            } else {
                                Layout.popMsg("popMsg-danger", "删除失败， 角色正在使用");
                                return false;
                            }
                        },
                        error: function () {
                            // console.log("请求API失败")
                        }
                    })
                }
            })

            $('.setHistoryJobTitle').click(function(){
                if(confirm("确定设置为历史职位？")){
                    var ID = $(this).parent().attr("id");
                    $.ajax({
                        url:'/JobTitle/SetHistoryJobTitle',
                        type:"post",
                        data:{
                            id: ID,
                            IsRevoked: true
                        },
                        success:function(data){
                            if(data){
                                window.location.reload();
                            }
                        },
                        error:function(){
                            console.log("CCCCCCCCErorr")
                        }
                    })
                }
            })

            $('.reSetHistoryJobTitle').click(function(){
                if(confirm("确定要撤销历史职位？")){
                    var ID = $(this).parent().attr("id");
                    $.ajax({
                        url:'/JobTitle/SetHistoryJobTitle',
                        type:"post",
                        data:{
                            id: ID,
                            IsRevoked: false
                        },
                        success:function(data){
                            if(data){
                                window.location.reload();
                            }
                        },
                        error:function(){
                            console.log("CCCCCCCCErorr")
                        }
                    })
                }
            })
        },
        error: function () {
            // console.log("请求API 失败");
        }
    })

    //新建角色
    $('.create-jobTitle').click(function () {
        $('#JobTitlePopModal').dialogModal({
            onOkBut: function () {
                //进行处理
                var Name = $(".dialogModal").find(".jobTitleName").val();
                var Remarks = $(".dialogModal").find(".remark").val();

                $.ajax({
                    url: '/JobTitle/Create',
                    type: 'post',
                    data: {
                        name: Name,
                        remark: Remarks
                    },
                    success: function (data) {
                        if (data) {
                            window.location.reload();
                        } else {
                            // console.log("新建失败");
                            return false;
                        }
                    },
                    error: function () {
                        // console.log("新建失败");
                        return false;
                    }
                })
            },
            onCancelBut: function () { },
            onLoad: function () { },
            onClose: function () { }
        });
    })
</script>


