<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestWPF.Properties.Settings>
            <setting name="db" serializeAs="String">
                <value>Data Source=charlot-PC\MSSQLSERVER20082;Initial Catalog=BlueHr;Persist Security Info=True;User ID=sa;Password=123456@</value>
                <!--<value>Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=BlueHr;Persist Security Info=True;User ID=sa;Password=123456@;Connect Timeout=150;</value>-->
            </setting>
            <setting name="queue" serializeAs="String">
                <value>.\Private$\blueHrQueue</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>5000</value>
            </setting>
        </TestWPF.Properties.Settings>
    </applicationSettings>
</configuration>