@{
    ViewBag.Title = "日程安排";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>个人事项</li>
    <li>日程安排</li>
</ol>

<hr class="hr-grey" />

<div id="person_calendar" style="padding: 0 20px 0 20px;"></div>

@Scripts.Render("~/bundles/fullcalendar")

<script type="text/javascript">
    Layout.init();
    
    // var initialLocaleCode = 'zh-cn';

    $(document).ready(function() {
    
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        $('#person_calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listDay,listWeek,listMonth'
            },
            // weekMode: 'liquid',
            views: {
                listDay: { buttonText: '天列表' },
                listWeek: { buttonText: '周列表' },
                listMonth: { buttonText: '月列表' }
            },
            // defaultView: 'listWeek',
            firstDay:1,
            locale: 'zh-cn',
            editable: true,
            timeFormat: 'H:mm',
            axisFormat: 'H:mm',
            weekNumbers: true,
            weekNumbersWithinDays: true,
            selectable: true,
            selectHelper: true,
            select: function(start, end) {
                var title = prompt('Event Title:');
                var eventData;
                if (title) {
                    eventData = {
                        id: "id"+title,
                        title: title,
                        start: start,
                        end: end
                    };
                    $('#person_calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                }
                $('#person_calendar').fullCalendar('unselect');
            },
            eventClick: function(event, jsEvent, view) {
                console.log("CCCCCCCCCCCCC");
                console.log(event);
                console.log(jsEvent);
                console.log(view);

                if(confirm("确认删除？")){
                    $('#person_calendar').fullCalendar('removeEvents', [event.id]);
                }
            },
            events: [
                {
                    id: 1,
                    title: '全天计划\r\n#####\r\n写代码',
                    start: new Date(y, m, 1)
                },
                {
                    id: 213,
                    title: '张家界四日游',
                    start: new Date(y, m, d-5),
                    end: new Date(y, m, d-2),
                    rendering: 'background',
                    color: 'lightseagreen'
                },
                {
                    id: 999,
                    title: '电话回访客户',
                    start: new Date(y, m, d-6, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: '电话回访客户',
                    start: new Date(y, m, d+4, 16, 0),
                    allDay: false,
                    rendering: 'background',
                    color: '#ff9f89'
                },
                {
                    id: 9090,
                    title: '视频会议',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    id:23,
                    title: '中秋放假',
                    start: '2013-09-19',
                    end: '2013-09-21',
                },
                {
                    id:'cccd',
                    title: '午饭',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    id:'dfd',
                    title: '生日聚会',
                    start: new Date(y, m, d+1, 19, 0),
                    end: new Date(y, m, d+1, 22, 30),
                    allDay: false
                },
                {
                    id:'cc',
                    title: '访问Helloweba主页',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://helloweba.com/'
                },
                {
                    id:0009,
                    title: '实战训练课',
                    start: new Date(y, m, d+23)
                },
            ]
        });
        
    });

</script>