@{
    ViewBag.Title = "日程安排";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>个人事项</li>
    <li>日程安排</li>
</ol>

<hr class="hr-grey" />

<div id="person_calendar" style="padding:30px;"></div>

<div id="PersonScheduleModal" class="approval_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        <span>日程事件</span>
    </div>

    <div class="dialogModal_content">
        <div class="marco-nbody row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>名称</span>
                    <input type="text" class="roleName" name="roleName" autofocus>
                </div>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="marco-textarea">
                    <span>备注</span>
                    <textarea name="remarks" class="remarks"></textarea>
                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="dialogModal_footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
            <button type="button" class="marco-btn-primary pull-right" data-dialogmodalbut="ok">
                确认
            </button>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/fullcalendar")

<script type="text/javascript">
    Layout.init();

    $("#person_calendar").css({"height":$(window).height()-300+'px', "width": $(window).width()-300+'px'});
    $.ajax({
        url:'/Personal/AllPersonSchedule',
        type:'get',
        success:function(data){
            $('#person_calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listDay,listWeek,listMonth'
                },
                views: {
                    listDay: { buttonText: '天列表' },
                    listWeek: { buttonText: '周列表' },
                    listMonth: { buttonText: '月列表' }
                },
                defaultDate: new Date(),
                firstDay:1,
                locale: 'zh-cn',
                editable: true,
                timeFormat: 'H:mm',
                axisFormat: 'H:mm',
                weekNumbers: true,
                weekNumbersWithinDays: true,
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                    $('#PersonScheduleModal').dialogModal({
                        onOkBut: function () {
                            // var title = prompt('Event Title:');
                            // var eventData;
                            if (title) {
                                eventData = {
                                    id: "id"+title,
                                    title: title,
                                    start: start,
                                    end: end
                                };
                            }

                            $('#person_calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        },
                        onCancelBut: function () { 
                        },
                        onLoad: function () {
                            console.log("CCCCC")
                        },
                        onClose: function () {
                        }
                    });

                    $('#person_calendar').fullCalendar('unselect');
                },
                dayClick: function(date, allDay, jsEvent, view){
                    console.log(view);
                },
                eventClick: function(event, jsEvent, view) {
                    if(confirm("确认删除？")){
                        $('#person_calendar').fullCalendar('removeEvents', [event.id]);
                    }
                },
                events: data
            });
        },
        error:function (){
            console.log("Something Error!");
        }
    });

</script>