@using BlueHrWeb.Helpers.View

@{
    ViewBag.Title = "_CompanyAndDepartmentBar";
}


@*有可能 ViewBag.Query 不存在*@
@if (ViewBag.Query!=null)
{
    @PartialViewHelper.CompanyAndDepartmentDropDownList(this.Html, ViewBag.Query.CompanyId, ViewBag.Query.DepartmentId)
}
else
{
    @PartialViewHelper.CompanyAndDepartmentDropDownList(this.Html, null, null)
}


<script type="text/javascript">
    var Department = new Array();

    $.ajax({
        url: '/Staff/GetCompanyAndDepartment',
        type: 'get',
        async: false,
        success: function (data) {
            Department = data;
        },
        error: function () {
            console.log("获取公司和部门信息出错");
        }
    });

    $('#CompanyId').change(function () {
        $('#DepartmentId').empty();

        var companyID = $('#CompanyId').find("option:selected").val();
        var Html = "";

        for (dep in Department[companyID]) {
            Html += '<option value=' + dep + '>' + Department[companyID][dep] + '</option>';
        }

        $(Html).appendTo('#DepartmentId');
    })
</script>