@using BlueHrWeb.Helpers.View

@{
    ViewBag.Title = "_CompanyAndDepartmentBar";
}


@*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-danger">
        <span>公司 *</span>
        @Html.DropDownList("CompanyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-danger">
        <span>部门 *</span>
        @Html.DropDownList("DepartmentId", ViewData["departmentList"] as IEnumerable<SelectListItem>)
    </div>
</div>*@


@*有可能 ViewBag.Query 不存在*@
@if (ViewBag.Query!=null)
{
    @PartialViewHelper.CompanyAndDepartmentDropDownList(this.Html, ViewBag.Query.CompanyId, ViewBag.Query.DepartmentId)
}
else
{
    @PartialViewHelper.CompanyAndDepartmentDropDownList(this.Html, null, null)
}


<script type="text/javascript">
    var Department = new Array();

    $.ajax({
        url: '/Staff/GetCompanyAndDepartment',
        type: 'get',
        async: false,
        success: function (data) {
            Department = data;
        },
        error: function () {
            console.log("获取公司和部门信息出错");
        }
    });

    $('#CompanyId').change(function () {
        $('#DepartmentId').empty();

        var companyID = $('#CompanyId').find("option:selected").val();
        var Html = "";

        for (dep in Department[companyID]) {
            Html += '<option value=' + dep + '>' + Department[companyID][dep] + '</option>';
        }

        $(Html).appendTo('#DepartmentId');
    })
</script>