@using MvcPaging

@model IPagedList<BlueHrLib.Data.StaffType>

@{
    ViewBag.Title = "人员类型";
}

@*@Styles.Render("~/Content/degreetype")*@

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>基础信息</li>
    <li>人员类型</li>
</ol>

<hr class="hr-grey" />

<div class="row" style="margin:0;">
    <form action="/StaffType/Search" method="get">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-primary">
                <span>人员类型名称</span>
                <input type="text" name="Name" id="Name" placeholder="人员类型名称" value="@ViewBag.Query.Name" />
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:5px;">
            <button type="submit" class="marco-btn-success">
                <i class="glyphicon glyphicon-search"></i>
                搜索
            </button>
        </div>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all_staff_type">
    <div id="all_staff_type_grid_table"></div>
    <table class="table table-bordered" style="display:none;">
        <thead>
            <tr>
                <th>人员类型名称</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.remark)
                        </td>
                        <td>
                            <a href="/StaffType/Delete/@item.id" target="_blank" class="option-icon-primary" title="详情">
                                <i class="fa fa-eye"></i>
                            </a>

                            <a href="/StaffType/Edit/@item.id" target="_blank" class="option-icon-warning" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@*@Scripts.Render("~/bundles/degreetype")*@

<script type="text/javascript">
    Layout.init();

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 200, false, "all_staff_type", "人员类型", "20", "all_staff_type_grid_table");
</script>