@using MvcPaging

@model IPagedList<BlueHrLib.Data.InsureType>

@{
    ViewBag.Title = "保险管理";
}

@*@Styles.Render("~/Content/degreetype")*@

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>基础信息管理</li>
    <li>
        <strong>保险管理</strong>
    </li>
</ol>

<hr class="hr-grey" />
<div class="search">
    <form action="/InSureType/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>保险类别名称</span>
                    <input type="text" name="Name" id="Name" placeholder="保险类别名称" value="@ViewBag.Query.Name" />
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:5px;">
                <button type="submit" class="marco-btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    搜索
                </button>
            </div>
        </div>
    </form>
</div>
<hr class="hr-primary" />
<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">

        <a href="/InSureType/Create" class="pull-right" style="margin-top: -10px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">

            <li role="presentation" class="active"><a href="#all_InSureType" role="tab" data-toggle="tab">所有保险类别</a></li>


        </ul>
        <div class="tab-content">


            <div role="tabpanel" class="tab-pane  active" id="all_InSureType">
                <div id="all_InSureType_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>保险类别名称</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td>
                                        <a href="/InSureType/Delete/@item.id" class="option-icon-primary" title="详情">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="/InSureType/Edit/@item.id" class="option-icon-warning" title="编辑">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>


@*@Scripts.Render("~/bundles/degreetype")*@

<script type="text/javascript">
    Layout.init();

    $(window).resize(function () {
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_InSureType", "所有保险类别列表", "20", "all_InSureType_grid_table");

    })

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_InSureType", "所有保险类别列表", "20", "all_InSureType_grid_table");

</script>