USE [master]
GO
/****** Object:  Database [BlueHr]    Script Date: 08/29/2016 11:57:36 ******/
CREATE DATABASE [BlueHr] ON  PRIMARY 
( NAME = N'BlueHr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2008R\MSSQL\DATA\BlueHr.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlueHr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2008R\MSSQL\DATA\BlueHr_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlueHr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlueHr]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shift](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[startAt] [time](7) NOT NULL,
	[endAt] [time](7) NOT NULL,
	[shiftType] [int] NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResignType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResignType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_ResignType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemSetting]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSetting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[daysBeforeAlertStaffGoFull] [float] NULL,
	[goFullAlertMails] [text] NULL,
	[unCertifacteAlertMails] [text] NULL,
	[attendanceExceptionAlertMails] [text] NULL,
	[repeatAttendanceRecordTime] [float] NULL,
	[validAttendanceRecordTime] [float] NULL,
	[lateExceptionTime] [float] NULL,
	[earlyLeaveExceptionTime] [float] NULL,
 CONSTRAINT [PK_SystemSetting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_StaffType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InsureType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InsureType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_InsureType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobTitle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_JobTitle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DegreeType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DegreeType](
	[id] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_DegreeType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
	[address] [text] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CertificateType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CertificateType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
	[isSystem] [bit] NOT NULL,
	[isNecessary] [bit] NOT NULL,
	[systemCode] [int] NULL,
 CONSTRAINT [PK_CertificateType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attachment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[attachmentType] [int] NOT NULL,
	[path] [varchar](200) NULL,
	[attachmentAbleId] [int] NULL,
	[attachmentAbleType] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AbsenceType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AbsenceType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_AbsenceType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtraWorkType]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtraWorkType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
 CONSTRAINT [PK_ExtraWorkType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[remark] [varchar](255) NULL,
	[companyId] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobCertificate]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCertificate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jobTitleId] [int] NOT NULL,
	[certificateTypeId] [int] NOT NULL,
 CONSTRAINT [PK_JobCertificate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[nr] [varchar](200) NOT NULL,
	[name] [varchar](50) NULL,
	[sex] [varchar](10) NULL,
	[birthday] [datetime] NULL,
	[ethnic] [varchar](50) NULL,
	[firstCompanyEmployAt] [datetime] NULL,
	[totalCompanySeniority] [float] NULL,
	[companyEmployAt] [datetime] NULL,
	[companySeniority] [float] NULL,
	[workStatus] [int] NOT NULL,
	[isOnTrial] [bit] NOT NULL,
	[trialOverAt] [datetime] NULL,
	[companyId] [int] NOT NULL,
	[departmentId] [int] NOT NULL,
	[jobTitleId] [int] NULL,
	[photo] [image] NULL,
	[staffTypeId] [int] NULL,
	[degreeTypeId] [int] NULL,
	[speciality] [varchar](200) NULL,
	[residenceAddress] [varchar](200) NULL,
	[address] [varchar](200) NULL,
	[id] [varchar](200) NOT NULL,
	[isIdChecked] [bit] NOT NULL,
	[phone] [varchar](50) NULL,
	[contactName] [varchar](50) NULL,
	[contactPhone] [varchar](50) NULL,
	[contactFamilyMemberType] [varchar](50) NULL,
	[domicile] [varchar](50) NULL,
	[residenceType] [int] NULL,
	[insureTypeId] [int] NULL,
	[isPayCPF] [bit] NOT NULL,
	[contractExpireAt] [date] NULL,
	[contractCount] [int] NULL,
	[totalSeniority] [float] NULL,
	[remark] [text] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[nr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShiftSchedule]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShiftSchedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shiftId] [int] NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[scheduleAt] [date] NOT NULL,
 CONSTRAINT [PK_ShiftSchedule] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResignRecord]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResignRecord](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resignTypeId] [int] NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[resignAt] [datetime] NOT NULL,
	[resignChecker] [varchar](50) NULL,
	[remark] [text] NULL,
 CONSTRAINT [PK_ResignRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtraWorkRecord]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtraWorkRecord](
	[id] [int] NOT NULL,
	[extraWorkTypeId] [int] NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[duration] [float] NOT NULL,
	[durationType] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AbsenceRecrod]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AbsenceRecrod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[absenceTypeId] [int] NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[duration] [float] NOT NULL,
	[durationType] [int] NOT NULL,
 CONSTRAINT [PK_AbsenceRecrod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Certificate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[certificateTypeId] [int] NOT NULL,
	[certiLevel] [varchar](50) NULL,
	[effectiveFrom] [datetime] NULL,
	[effectiveEnd] [datetime] NULL,
	[institution] [varchar](200) NULL,
	[remark] [text] NULL,
 CONSTRAINT [PK_Certificate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BankCard]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BankCard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nr] [varchar](50) NOT NULL,
	[bank] [varchar](50) NULL,
	[bankAddress] [varchar](50) NULL,
	[remark] [varchar](255) NULL,
	[isDefault] [bit] NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
 CONSTRAINT [PK_BankCard] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttendanceRecordDetail]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttendanceRecordDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[recordAt] [datetime] NOT NULL,
	[createdAt] [date] NOT NULL,
	[soureType] [varchar](200) NOT NULL,
	[isCalculated] [bit] NOT NULL,
 CONSTRAINT [PK_AttendanceRecordDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttendanceRecordCal]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttendanceRecordCal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[oriWorkingHour] [float] NOT NULL,
	[attendanceDate] [datetime] NOT NULL,
	[actWorkingHour] [float] NOT NULL,
	[remark] [text] NULL,
	[createdAt] [datetime] NOT NULL,
	[isManualCal] [bit] NOT NULL,
 CONSTRAINT [PK_AttendanceRecordCal] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FullMemberRecord]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FullMemberRecord](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staffNr] [varchar](200) NOT NULL,
	[isPassCheck] [bit] NOT NULL,
	[beFullAt] [datetime] NULL,
	[checkAt] [datetime] NULL,
	[beFullChecker] [varchar](50) NULL,
	[checkScore] [float] NULL,
	[remark] [text] NULL,
 CONSTRAINT [PK_FullMemberRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FamilyMemeber]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FamilyMemeber](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[memberName] [varchar](50) NOT NULL,
	[familyMemberType] [varchar](50) NULL,
	[birthday] [datetime] NULL,
	[staffNr] [varchar](200) NULL,
 CONSTRAINT [PK_FamilyMemeber] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[ShiftScheduleView]    Script Date: 08/29/2016 11:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ShiftScheduleView]
AS
SELECT     dbo.ShiftSchedule.id, dbo.ShiftSchedule.staffNr, dbo.ShiftSchedule.scheduleAt, dbo.ShiftSchedule.shiftId, dbo.Shift.code, dbo.Shift.name, dbo.Shift.startAt, 
                      dbo.Shift.endAt, dbo.Shift.shiftType, dbo.Shift.remark
FROM         dbo.Shift INNER JOIN
                      dbo.ShiftSchedule ON dbo.Shift.id = dbo.ShiftSchedule.shiftId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Shift"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 201
               Right = 192
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShiftSchedule"
            Begin Extent = 
               Top = 6
               Left = 218
               Bottom = 254
               Right = 412
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 3000
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ShiftScheduleView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ShiftScheduleView'
GO
/****** Object:  Default [DF_CertificateType_isSystem]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[CertificateType] ADD  CONSTRAINT [DF_CertificateType_isSystem]  DEFAULT ((0)) FOR [isSystem]
GO
/****** Object:  Default [DF_CertificateType_isNecessary]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[CertificateType] ADD  CONSTRAINT [DF_CertificateType_isNecessary]  DEFAULT ((0)) FOR [isNecessary]
GO
/****** Object:  Default [DF_Staff_isOnTrial]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_isOnTrial]  DEFAULT ((0)) FOR [isOnTrial]
GO
/****** Object:  Default [DF_Staff_isIdChecked]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_isIdChecked]  DEFAULT ((0)) FOR [isIdChecked]
GO
/****** Object:  Default [DF_Staff_isPayCFP]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_isPayCFP]  DEFAULT ((0)) FOR [isPayCPF]
GO
/****** Object:  Default [DF_BankCard_isDefault]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[BankCard] ADD  CONSTRAINT [DF_BankCard_isDefault]  DEFAULT ((0)) FOR [isDefault]
GO
/****** Object:  Default [DF_AttendanceRecordDetail_isCalculated]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[AttendanceRecordDetail] ADD  CONSTRAINT [DF_AttendanceRecordDetail_isCalculated]  DEFAULT ((0)) FOR [isCalculated]
GO
/****** Object:  Default [DF_AttendanceRecordCal_isManualCal]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[AttendanceRecordCal] ADD  CONSTRAINT [DF_AttendanceRecordCal_isManualCal]  DEFAULT ((0)) FOR [isManualCal]
GO
/****** Object:  Default [DF_FullMemberRecord_isPassCheck]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[FullMemberRecord] ADD  CONSTRAINT [DF_FullMemberRecord_isPassCheck]  DEFAULT ((0)) FOR [isPassCheck]
GO
/****** Object:  ForeignKey [FK_Department_Company]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Company] FOREIGN KEY([companyId])
REFERENCES [dbo].[Company] ([id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Company]
GO
/****** Object:  ForeignKey [FK_JobCertificate_CertificateType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[JobCertificate]  WITH CHECK ADD  CONSTRAINT [FK_JobCertificate_CertificateType] FOREIGN KEY([certificateTypeId])
REFERENCES [dbo].[CertificateType] ([id])
GO
ALTER TABLE [dbo].[JobCertificate] CHECK CONSTRAINT [FK_JobCertificate_CertificateType]
GO
/****** Object:  ForeignKey [FK_JobCertificate_JobTitle]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[JobCertificate]  WITH CHECK ADD  CONSTRAINT [FK_JobCertificate_JobTitle] FOREIGN KEY([jobTitleId])
REFERENCES [dbo].[JobTitle] ([id])
GO
ALTER TABLE [dbo].[JobCertificate] CHECK CONSTRAINT [FK_JobCertificate_JobTitle]
GO
/****** Object:  ForeignKey [FK_Staff_Company]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Company] FOREIGN KEY([companyId])
REFERENCES [dbo].[Company] ([id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Company]
GO
/****** Object:  ForeignKey [FK_Staff_DegreeType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_DegreeType] FOREIGN KEY([degreeTypeId])
REFERENCES [dbo].[DegreeType] ([id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_DegreeType]
GO
/****** Object:  ForeignKey [FK_Staff_Department]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([departmentId])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
/****** Object:  ForeignKey [FK_Staff_InsureType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_InsureType] FOREIGN KEY([insureTypeId])
REFERENCES [dbo].[InsureType] ([id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_InsureType]
GO
/****** Object:  ForeignKey [FK_Staff_JobTitle]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_JobTitle] FOREIGN KEY([jobTitleId])
REFERENCES [dbo].[JobTitle] ([id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_JobTitle]
GO
/****** Object:  ForeignKey [FK_Staff_StaffType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_StaffType] FOREIGN KEY([staffTypeId])
REFERENCES [dbo].[StaffType] ([id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_StaffType]
GO
/****** Object:  ForeignKey [FK_ShiftSchedule_Shift]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[ShiftSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSchedule_Shift] FOREIGN KEY([shiftId])
REFERENCES [dbo].[Shift] ([id])
GO
ALTER TABLE [dbo].[ShiftSchedule] CHECK CONSTRAINT [FK_ShiftSchedule_Shift]
GO
/****** Object:  ForeignKey [FK_ShiftSchedule_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[ShiftSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSchedule_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[ShiftSchedule] CHECK CONSTRAINT [FK_ShiftSchedule_Staff]
GO
/****** Object:  ForeignKey [FK_ResignRecord_ResignType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[ResignRecord]  WITH CHECK ADD  CONSTRAINT [FK_ResignRecord_ResignType] FOREIGN KEY([resignTypeId])
REFERENCES [dbo].[ResignType] ([id])
GO
ALTER TABLE [dbo].[ResignRecord] CHECK CONSTRAINT [FK_ResignRecord_ResignType]
GO
/****** Object:  ForeignKey [FK_ResignRecord_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[ResignRecord]  WITH CHECK ADD  CONSTRAINT [FK_ResignRecord_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[ResignRecord] CHECK CONSTRAINT [FK_ResignRecord_Staff]
GO
/****** Object:  ForeignKey [FK_ExtraWorkRecord_ExtraWorkType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[ExtraWorkRecord]  WITH CHECK ADD  CONSTRAINT [FK_ExtraWorkRecord_ExtraWorkType] FOREIGN KEY([extraWorkTypeId])
REFERENCES [dbo].[ExtraWorkType] ([id])
GO
ALTER TABLE [dbo].[ExtraWorkRecord] CHECK CONSTRAINT [FK_ExtraWorkRecord_ExtraWorkType]
GO
/****** Object:  ForeignKey [FK_ExtraWorkRecord_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[ExtraWorkRecord]  WITH CHECK ADD  CONSTRAINT [FK_ExtraWorkRecord_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[ExtraWorkRecord] CHECK CONSTRAINT [FK_ExtraWorkRecord_Staff]
GO
/****** Object:  ForeignKey [FK_AbsenceRecrod_AbsenceType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[AbsenceRecrod]  WITH CHECK ADD  CONSTRAINT [FK_AbsenceRecrod_AbsenceType] FOREIGN KEY([absenceTypeId])
REFERENCES [dbo].[AbsenceType] ([id])
GO
ALTER TABLE [dbo].[AbsenceRecrod] CHECK CONSTRAINT [FK_AbsenceRecrod_AbsenceType]
GO
/****** Object:  ForeignKey [FK_AbsenceRecrod_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[AbsenceRecrod]  WITH CHECK ADD  CONSTRAINT [FK_AbsenceRecrod_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[AbsenceRecrod] CHECK CONSTRAINT [FK_AbsenceRecrod_Staff]
GO
/****** Object:  ForeignKey [FK_Certificate_CertificateType]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_CertificateType] FOREIGN KEY([certificateTypeId])
REFERENCES [dbo].[CertificateType] ([id])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_CertificateType]
GO
/****** Object:  ForeignKey [FK_Certificate_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_Staff]
GO
/****** Object:  ForeignKey [FK_BankCard_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[BankCard]  WITH CHECK ADD  CONSTRAINT [FK_BankCard_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[BankCard] CHECK CONSTRAINT [FK_BankCard_Staff]
GO
/****** Object:  ForeignKey [FK_AttendanceRecordDetail_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[AttendanceRecordDetail]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecordDetail_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[AttendanceRecordDetail] CHECK CONSTRAINT [FK_AttendanceRecordDetail_Staff]
GO
/****** Object:  ForeignKey [FK_AttendanceRecordCal_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[AttendanceRecordCal]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecordCal_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[AttendanceRecordCal] CHECK CONSTRAINT [FK_AttendanceRecordCal_Staff]
GO
/****** Object:  ForeignKey [FK_FullMemberRecord_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[FullMemberRecord]  WITH CHECK ADD  CONSTRAINT [FK_FullMemberRecord_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[FullMemberRecord] CHECK CONSTRAINT [FK_FullMemberRecord_Staff]
GO
/****** Object:  ForeignKey [FK_FamilyMemeber_Staff]    Script Date: 08/29/2016 11:57:36 ******/
ALTER TABLE [dbo].[FamilyMemeber]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMemeber_Staff] FOREIGN KEY([staffNr])
REFERENCES [dbo].[Staff] ([nr])
GO
ALTER TABLE [dbo].[FamilyMemeber] CHECK CONSTRAINT [FK_FamilyMemeber_Staff]
GO
