@model IEnumerable<BlueHrLib.Data.AttendanceRecordCalExceptionView>

@{
    ViewBag.Title = "异常统计列表";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤管理</li>
    <li>
        <strong>异常统计列表</strong>
    </li>
</ol>
<hr class="hr-grey" />
<div class="row" style="margin:0;">
    <form action="/AttendanceRecordCal/ExceptionList" method="get">

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="marco-igroup-primary">
                <span>考勤日期</span>
                <input type="text" name="startDate" id="startDate" class="datetimepicker" placeholder="开始" value="@ViewBag.startDate" />
                <span>~ </span>
                <input type="text" name="endDate" id="endDate" class="datetimepicker" placeholder="结束" value="@ViewBag.endDate" />
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
            <button type="submit" class="marco-btn-success" style="width: 150px; height:40px;">
                <i class="glyphicon glyphicon-search"></i>
                搜索
            </button>
        </div>
    </form>
</div>


<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">        
        <a href="/AttendanceRecordCal/Create" class="pull-right" style="margin-top: -10px; margin-right:14px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#inter" role="tab" data-toggle="tab">异常统计列表</a></li>
        </ul>

        <div class="tab-content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all_list_type">
                <div id="all_list_type_grid_table"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>未处理异常数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
            {
                foreach (var item in Model)
                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.attendanceDateStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isExceptionHandledCount)
                                    </td>
                                    <td>
                                        <a href="/AttendanceRecordCal/Search?IsException=True&IsExceptionHandled=False&AttendanceDateFrom=@item.attendanceDate&AttendanceDateEnd=@item.attendanceDate">处理</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        Layout.init();
        Layout.datepicker('.datetimepicker');

        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_list_type", "异常统计列表", "20", "all_list_type_grid_table");

    </script>
