<div id="handle-dialog-modal">
    <div class="handle-dialog-modal-content">
        <p>
            <img src="~/Images/loading.gif" />系统处理中，请稍候...
        </p>
    </div>
</div>
<div id="dialog-overlay"></div>