@using Microsoft.AspNet.Identity
@using BlueHrLib.Data

@if (Session["user"] != null)
{
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">
                    <i class="fa fa-user"></i>
                    @*当前用户*@
                    @((Session["user"] as User).name)
                    <i class="fa fa-sort-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                @*设置登出样式*@

                <li style="margin:10px">
                    <a href="/user/changepwd?id=@((Session["user"] as User).id)" style="color:#c0392b;">
                        <i class="fa fa-paste"></i>
                        <span style="margin-left:0px;"> 修改密码 </span>
                    </a>
                </li>

                <li style="margin: 10px;">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()" style="color:#c0392b;">
                            <i class="fa fa-power-off"></i>
                            <span style="margin-left:10px;"> 注销 </span>
                        </a>
                    }
                </li>
            </ul>
        </li>
 
}
else
{
    <li class="dropdown">
       @Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
   </li>
}
