<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BlueHrLib.Properties.Settings.BlueHrConnectionString"
      connectionString="Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=BlueHr;Persist Security Info=True;User ID=sa;Password=123456@"
      providerName="System.Data.SqlClient" />
    <add name="BlueHrLib.Properties.Settings.BlueHrConnectionString1"
      connectionString="Data Source=(local)\sqlexpress;Initial Catalog=BlueHr;Persist Security Info=True;User ID=sa;Password=st_glodenABC"
      providerName="System.Data.SqlClient" />
    <add name="BlueHrLib.Properties.Settings.BlueHrConnectionString2"
      connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=BlueHr;Persist Security Info=True;User ID=sa;Password=123456@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
